@model IEnumerable<Wpis>

@{
    ViewData["Title"] = "Lista Wpisów";
}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-8 offset-2">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Tytul
                                 
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                 
                                </h5>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Zawartosc</p>
                            <p class="card-text"><b>Komentarz zablokowany: </b>@item.KomentarzeZablokowane</p>
                            <p class="card-text"><b>Data dodania: </b>@item.DataDodania.ToString("dd MMM yy, hh:mm:ss")</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Pokaż szczegóły
                                </a>
    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
